
/* 
    General Styles
*/
button#dropdownMenuButton {
    margin-right: 20px;
}
.delete-icon{ padding-left: 10px;padding-right: 10px}
.main-logo{height:70px}
.wrapper{width: 100%; overflow-y: scroll}
.fav-empty{padding-left:20px; color: #7DBDB8}
.mb-3{border:none};
.more-info{border-top:1px solid #7DBDB8; padding-top:10px}
.fav-selector{display: inline-flex}


h7{font-size: 30px; 
color: rgb(204, 57, 57); }